#left_order_div{
    overflow: hidden;
}

#go_to_home{
    margin-left: 1.5%;
}

.make_order_div{
    overflow: hidden;
    position: relative;
    border-radius: 1.4rem 1.4rem 0.5rem 0.5rem;
}

.myMargin{
    margin-bottom: 0.8rem !important;
}

#nav-tabContent{
    margin-top: 1rem;
}

.two_buttons{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: -2rem;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mbtn{
    background:  #004982 !important;
    border: none !important;
    height: 2.2rem;
    box-sizing: border-box;
    width: 50%;
    border-radius: 0.5rem !important;
    transition-property: filter !important;
    transition-duration: 0.5s !important;
}

#search_deliverer_button, #search_orderer_button{
    margin-right: 0.2rem;
}

#publish_order_button:hover, #publish_delivery_button:hover, #search_deliverer_button:hover, #search_orderer_button:hover{
    filter: brightness(130%) !important;
}

.rowFoundedOffer:hover,.rowFoundedDelivery:hover {
    background-color: #ededed;
    cursor: pointer;
}

.custom-select,.form-control{
    background: #e3e3e3 !important;
}

tr{
    margin: 0.5rem !important;
}

.custom-select,#commentOrderInput,#orderGoods,#orderPrice,#commentDeliveryInput{
    background: #343a40 !important;
    border: none !important;
    color: #dedede;
}

#nav-home{
    background: #1a1a1a !important;
}

option {
    color: #dedede !important;
}

.mselect{
    color: #d1d1d1 !important;
}

.offers_info{
    width: 70%;
    margin-left: 2%;
    margin-right: 2%;
}

#commentForOtklikDiv{
    background: #343a40;
    height: 2.6rem;
}

#commentForOtklikInput{
    background: inherit;
    width: 100%;
    border: none;
    height: 2.4rem;
    color: white;
    padding: 0 1rem 0 1rem;
}

.myHr{
    margin:0;
    border: 1px solid #4d4d4d;
}

#divForGetTime, #divForDeliverTime{
    position: relative;
    margin-bottom: 0.8rem !important;
    background: #343a40;
}

#labelForGetTime, #labelForDeliverTime{
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 0.4rem 0.4rem 0 1rem;
    color: #d1d1d1 !important;
}

#timeDeliverInputId, #timeGetInputId{
    width: 6rem;
    text-align: center;
    background: #bfbfbf;
    position: absolute;
    right: 0;
    height: 100%;
}

#commentGetDiv, #commentDeliverDiv {
    height: 4rem;
}

#commentGetInput, #commentDeliverInput {
    background: #bfbfbf !important;
}