.mainform{
    background: #242424;
    border: none !important;
    border-radius: 2rem;
    position: relative !important;
}

.log_pass{
    color: #cccccc;
}

.myInput{
    background: #363636 !important;
    border: none !important;
    color: #e0e0e0 !important;
}

.for_img{
    position:absolute;
    top: 1.5rem;
    left: 2rem;
}

.subscr{
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
}

.subscrH1{
    font-size: 16rem;
    opacity: 3%;
}