<!doctype html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/CSS/home.css"/>
      <link rel="stylesheet" type="text/css" href="/CSS/make_order.css"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <title>Новая заявка</title>
    </head>
    <body style="background: linear-gradient(0deg, rgb(0, 0, 0), rgb(0, 17, 114)) no-repeat; height: 110vh">
      <section class="main">
                <nav style="margin-top: 1rem; margin-left: 2%; height: 6rem;">
          <div id="logo_and_button" style="height: 5rem; line-height: 5rem; margin-top: 1.5rem">
            <img src="../Images/logos/eagle_logo.png" alt="Eagle" style="width: 5.6rem; height: 5rem; margin-bottom: 2rem;">
            <a href="home" type="button" class="btn btn-primary btn-lg" style="color: #dbdbdb; height: 2.3rem; line-height: 1rem; background: black" id="button_main">Главная</a>
            <a href="make_order" aria-current="page" type="button" id="new_offer_button" class="btn btn-primary btn-lg" style="color:#dbdbdb; height: 2.3rem; line-height: 1rem; background: black">+ новая заявка</a>
            <div style="display: inline-block; width: 40%; text-align: center">
              <span id="byAlexTing">Made by Alex Ting</span>
            </div>
          </div>
          <div id="username_and_settings">

            <div th:text="${user.getUsername()}" style="font-size: 1.4rem; margin-bottom: 0.2rem; color: #dbdbdb; display: inline-block;">Username</div>
            <div th:text="${user.getRating()}" style="color:limegreen; display: inline-block; font-size: 1.4rem;">5.0</div>

            <div class="profile" style="position:relative">
              <div class="dropdown" style="width: 8rem; position: absolute; right:0">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="settings_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: black; color:#dbdbdb; border: 0.001rem solid blue">
                  Настройки
                </button>
                <div class="dropdown-menu" id="settings_menue" aria-labelledby="settings_button">
                  <button class="dropdown-item" type="button" onclick="show_history('from_make_order')">История</button>
                  <form class="dropdown-item" th:method="post" th:action="@{/txpr/logout}">
                    <input type="submit" style="background: none; border: none;" value="Выйти">
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="photoDiv">
            <img src="../Images/avatars/empty_ava.jpg" alt="Empty ava" id="ava" onclick="chenge_ava()">
          </div>
              <div id="newAvaChoose">
                <form method="post" id="avaForm" action="save_avatar" enctype="multipart/form-data">
                  <label for="id_photo" id="labelPhoto">Выберите файл</label>
                  <input type="file" name="photo" accept="image/*" required="" id="id_photo"><br>
                  <input type="submit" id="photoSave" value="Сохранить">
                </form>
              </div>
        </nav>
        <section class="main_window">
            <div class="chat make_order_div">
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active tab_prop" id="choose_make" style="width: 50% !important; border-radius: 1rem 1rem 0 0 !important;" data-toggle="tab" href="#nav-home">Заказать</a>
                    <a class="nav-item nav-link tab_prop" id="choose_deliver" style="width: 50% !important; border-radius: 1rem 1rem 0 0 !important;" data-toggle="tab" href="#nav-profile">Доставить</a>
                </div>
                <div class="tab-content" id="nav-tabContent1">
                    <div class="tab-pane fade show active" id="nav-home" aria-labelledby="making">

                        <div class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                            <select class="custom-select mselect" id="orderGetFromPlace">
                              <option selected>Выберите откуда...</option>
                              <option>Москва</option>
                              <option>Санкт-Петербург</option>
                              <option>Кольчугино</option>
                              <option>Дубна</option>
                              <option>Новосибирск</option>
                              <option>Екатеринбург</option>
                              <option>Казань</option>
                              <option>Челябинск</option>
                              <option>Красноярск</option>
                              <option>Самара</option>
                              <option>Воронеж</option>
                              <option>Самара</option>
                              <option>Владимир</option>
                            </select>
                          </div>
                          
                          <div class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                            <select class="custom-select mselect" id="orderGetToPlace">
                              <option selected>Выберите куда...</option>
                              <option>Москва</option>
                              <option>Санкт-Петербург</option>
                              <option>Кольчугино</option>
                              <option>Дубна</option>
                              <option>Новосибирск</option>
                              <option>Екатеринбург</option>
                              <option>Казань</option>
                              <option>Челябинск</option>
                              <option>Красноярск</option>
                              <option>Самара</option>
                              <option>Воронеж</option>
                              <option>Самара</option>
                              <option>Владимир</option>
                            </select>
                          </div>

                          <div id="divForGetTime" class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                              <label id = "labelForGetTime" for="timeGetInputId">Ко скольки: </label>
                              <input id="timeGetInputId" type="time" name="appt-time" value="13:30" required>
                          </div>

                          <div class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                            <input type="text" class="form-control" id="orderGoods" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Укажите название товара...">
                          </div>

                          <div class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                            <input type="text" class="form-control" id="orderPrice" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Укажите цену...">
                          </div>

                          <div class="input-group mb-3" id="commentGetDiv" style="margin-bottom: 0.8rem !important; background: #1a1a1a">
                            <input type="text" class="form-control" id="commentGetInput" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Комментарий к заказу...">
                          </div>

                        <div class="two_buttons" style="text-align: center;">
                            <button type="button" onclick="findOrder('get')" class="btn btn-primary mbtn" id="search_deliverer_button">Найти доставщика</button>
                            <button type="button" onclick="publishOrder('get')" class="btn btn-primary mbtn" id="publish_order_button">Опубликовать</button>
                          </div>
                    </div>
                    <div class="tab-pane fade" id="nav-profile" aria-labelledby="waiting">
                       
                        <div class="tab-pane fade show active" id="nav-home" aria-labelledby="making">
                            
                            <div class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                                <select class="custom-select mselect" id="orderDeliverFromPlace">
                                    <option selected>Выберите куда...</option>
                                    <option>Москва</option>
                                    <option>Санкт-Петербург</option>
                                    <option>Кольчугино</option>
                                    <option>Дубна</option>
                                    <option>Новосибирск</option>
                                    <option>Екатеринбург</option>
                                    <option>Казань</option>
                                    <option>Челябинск</option>
                                    <option>Красноярск</option>
                                    <option>Самара</option>
                                    <option>Воронеж</option>
                                    <option>Самара</option>
                                    <option>Владимир</option>
                                </select>
                            </div>
                              
                            <div class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                                <select class="custom-select mselect" id="orderDeliverToPlace">
                                    <option selected>Выберите куда...</option>
                                    <option>Москва</option>
                                    <option>Санкт-Петербург</option>
                                    <option>Кольчугино</option>
                                    <option>Дубна</option>
                                    <option>Новосибирск</option>
                                    <option>Екатеринбург</option>
                                    <option>Казань</option>
                                    <option>Челябинск</option>
                                    <option>Красноярск</option>
                                    <option>Самара</option>
                                    <option>Воронеж</option>
                                    <option>Самара</option>
                                    <option>Владимир</option>
                                </select>
                            </div>

                            <div id="divForDeliverTime" class="input-group mb-3" style="margin-bottom: 0.8rem !important;">
                                <label id = "labelForDeliverTime" for="timeDeliverInputId">Ко скольки: </label>
                                <input id="timeDeliverInputId" type="time" name="appt-time" value="13:30" required>
                            </div>
    
                            <div class="input-group mb-3" id="commentDeliverDiv" style="margin-bottom: 0.8rem !important;">
                                <input type="text" class="form-control" id="commentDeliverInput" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Комментарий к доставке...">
                            </div>
                            
                            <div class="two_buttons">
                                <button onclick="findOrder('deliver')" class="btn btn-primary mbtn" id="search_orderer_button">Найти заказчика</button>
                                <button onclick="publishOrder('deliver')" class="btn btn-primary mbtn" id="publish_delivery_button">Опубликовать</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offers_info">
                <div class="chat_head">
                    Результаты поиска
                </div>
                <div style="margin: 0 0.5rem 0 0.5rem">
                    <table class="table table-dark table-hover" id="foundedOffersTable">
                      <tbody id="foundedOffersTbody">
                        <tr>
                          <td colspan="4">Здесь будут отображаться найденные предложения</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </section>
      </section>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/JavaScript/make_order_new.js"></script>
</html>

